@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;1,600&display=swap');
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.header{

    top: 0;
    left: 0;
    width:100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background-color: black;
   }
.logo{
    font-size: 25px;
    color: lightgreen;
    text-decoration: none;
    font-weight: 700;
}
.logo:hover{
    color:lightblue ;
    text-decoration: none;
}
.navbar a{
    font-size: 18px;
    color: lightgreen;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,.navbar{
    color:lightblue ;
    text-decoration: none;
}
.home{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
}
.home-image {
    width: 500px;
    height: 400px;
    background: black;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .home-image img{
        position: relative;
        bottom: 25  px;
        top: 22px;
        max-width: 500px;
        max-height: 400px;
        margin-bottom: 1px;
        margin-right: 55px;
        margin-left: 50px;
    }
.home-content{
    margin-right: 500px;
    max-width: 850px;   
    color:white;
    text-align: right;
    padding-left: 100px;
        margin-right: auto;
        margin-left: 10px;
    }
.home-content h1{
    font-size: 50px;
    line-height: 1.2;
}
.home-content h3{
    font-size: 35px;
    color: lightblue;
    -webkit-text-stroke: .5px white;
    -webkit-animation: infinite;
    
}
.home-content p{
    font-size: 16px;
    margin-top: 20px;
    margin-left:60px;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.home-content h3 {
    font-size: 35px;
    color: lightgreen;
    -webkit-background-clip: text;
    animation: pulse 1s infinite; /
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    width: 40px;
    height: 35px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color:lightgreen;
    text-decoration: none;
    margin-left: 10px;
    font-size: x-large;
    transition: .5s;
}
.home-sci a:hover{
    background: lightblue;
    text-decoration: none;
}
.btncv{
    background: linear-gradient(253deg, rgba(34,193,195,1) 0%, rgba(144,9,141,1) 100%);
    color: white;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    border-radius: 5PX;
}
.btncv:hover{
    color: darkred;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
#about {
    padding-bottom: 150px;
    background-color: black; 
}
#contact{
    padding: 80px 0 80px 80px;
    margin: 0;
    width: 88%;
}
.container {
    max-width: 1200px;
    background-color: black;
    width: 500px;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-me{
    height: 50px;
    padding-bottom: 50px;

    margin: 0;
    padding: 10px;

}
.about-col-1 {
    flex-basis: 30%;
    padding-top: 100px;
}


.about-col-2 {
    flex-basis: 65%;

}

.about-col-2 h1 {
    color: lightgreen;
    font-size: 40px;
    margin-bottom: 20px;
    
}

.about-col-2 p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    
}
.tab-contents{
    display: none;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
        margin-right: 50px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: lightgreen;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    color: white;
}
.tab-contents ul li span{
    color: lightgreen;
    font-size: 14px;
}
#services{
    background-color: black;
    padding-bottom: 70px;
    
}

.active-tab{
display: block !important;
}
.services-list  {
    display: grid;
    grid-template-columns: repeat((auto-fit,minmax(250px,1fr)));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    padding: 20px;
    font-size: 13px;
    font-weight:300;
    border: 2px solid darkgreen;
  
}
.services-list h2{
    font-weight: 1000;
    background: linear-gradient(253deg, rgba(34,193,195,1) 0%, rgba(144,9,141,1) 100%);
    background-clip: text; 
    color: transparent; 
    display: inline-block;
    
}
.sub-title{
    background-color: #ffffb5;
    background-image: linear-gradient(315deg, #ffffb5 0%, #1ea85c 74%);
    background-clip: text; 
    color: transparent; 
    display: inline-block;

}
.services-list p{
    color: white;
    font-weight: bolder;
}
.contact-left{
    flex-basis: 35%;
    padding-right: 50%;
    color: firebrick;
}
.contact-right{
    flex-basis: 60%;
    padding-top: 40px;
}
.contact-left p i{
    margin-top: 30;
    color: white;
}
.contect-left p {
    color: white;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: white;
    display: inline-block;
}
.social-icons a:hover{
    color: lightgreen;
    transform: translateY(-5px);
}
#contact-section{
    background-color: black;
    padding-top: 50px;
    padding-left: 15px;
}
.contact-right form {
    background-image: linear-gradient(315deg, darkgreen 0%, #000000 30%);
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    padding-top: 20px;
    color: black;
  }
  .contact-right form .ip {
    background-color: #000000;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #7FFF7F; 
    padding-top: 20px;
    color: white;
  }
  .contact-right form textarea {
    background-color:black;
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #7FFF7F; 
    border-radius: 5px;
  }
  
  .contact-right form .btn2 {
    background-color: darkgreen; 
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .contact-right form .btn2:hover {
    background-color: #B7BF96; 
  }
  
#project-section {
    background-color: black;
    padding: 50px 0;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.project {
    text-align: center;
    margin: 20px;
    width: 35%;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 160, 0, 0.8);
    }

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.project h2 {
    margin-top: 10px;
    background: linear-gradient(253deg, rgba(34,193,195,1) 0%, rgba(144,9,141,1) 100%);
        background-clip: text; 
        color: transparent; 
        display: inline-block;
}
.social-media{
    padding-top: 50px;
}

.project p {    
    margin-top: 10px;
    color: white;
}
.proj-img2{
    width: 50%;
    height: 50%;
    padding-top: 20px;
}
.proj-img3{
    width: 80%;
    padding-top: 50px;
}
.proj-img4{
    width: 50%;
}
.horizontal-line {
    margin: 0px 0; 
    border: none;
    width: 85%;
    margin-left: 10%;
    height: 1px; 
    background-color: lightgreen; 
}
.copyright{
    margin-left: 40%;
    margin-top: 50px;
    color: white;
}
#footer{
    background-color: black;
    padding-bottom: 80px;
}

h3{
    margin: 5px;
}
.skill{
    
    width: 400px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    background-color: black;
    box-shadow: 5px 5px 10px rgba(0, 150, 0, 0.8); 
    margin-left: 10px;
}
#services{
    margin-left: 0;
    margin-right: 0;
    height: 50%;
}
.skill li{
        margin: -10px 0;
        padding: 10px;
        list-style-type: none;
}
.skillheader{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;  
    text-align: center; 
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3p rgba(0,0,0,0.12),0 1px 2p rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1) ;
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height: 20px; 
    float: left;
    background: linear-gradient(315deg, #ffffb5 0%, #1ea85c 74%);
}

.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 90%;
    animation: html 3s;
}
.javascript{
    width: 70%;
    animation: html 3s;
}
.react{
    width: 60%;
    animation: html 3s;
}
.program{
    font-weight: 400;
    font-size: 20px;
}


  .cont{
    padding: 50px;

  }

  .contain .progress {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    background: #444 linear-gradient(to right, transparent, 50%, var(--clr) 0);
  }
  
  .contain .progress h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    z-index: 1;
    font-weight:200;
    color: white;
    padding-bottom:80px ;
  }
  
  .contain .progress h3  {
    font-weight: 400;
  }
  
  .contain .progress h4 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: x-small;
    color: var(--clr);
    text-transform: uppercase;
    color: white;
    margin-top: 1px;
 

  }
  .softheader{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    margin-top: 2  0px;
  }
  
  .contain .progress::before {
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
    border-radius: 0 100% 100% 0 / 50%;
  }
  
  .contain .progress::after {
    content: '';
    position: absolute;
    inset: 10px;
    border-radius: 50%;
    background-color: black;
  }
  
  .contain .progress::before {
    background-color: var(--clr);
    transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
  }
  
  .contain {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 550px;
    box-shadow: 5px 10px 15px rgba(0, 150, 0, 0.8);
    margin-top: 0px;
    margin-left: 600px;
    height: 500px;
    padding-top: 0px;
    margin-top: -500px;


    
}
.row1,
.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 100%;
    margin: -30px;
    margin-top: -10px;
    padding-right: 30px;
    padding-left: 30px;
}


.row1 .cont,
.row2 .cont {
    width: 48%;
    padding-right: 200px;
}